html {
    box-sizing: border-box
}
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #1b5240;
    color: #e2acbb;
}
.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b5240;
    top: 0;
    height: 40px;
    padding: 8px 16px;

}
.navbar-icon img{
    height: 40px;
    width: auto;
}
.navbar-right {
    float: right !important;
    
}
.navbar-right a{
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}
.navbar-right a:hover {
    background-color: #1b5240;
    padding: 8 16px;
}
button{
    border-radius: 12px;
    cursor: pointer;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-img{
    padding: 20px;
    width:300px;
    border-radius: 50%;
}
footer{
    text-align: center;
    padding: 30px;
}